@import "../../"

body
    align-content: initial
    align-items: initial
    align-self: initial
    alignment-adjust: initial
    alignment-baseline: initial
    all: initial
    anchor-point: initial
    animation: initial
    animation-delay: initial
    animation-direction: initial
    animation-duration: initial
    animation-fill-mode: initial
    animation-iteration-count: initial
    animation-name: initial
    animation-play-state: initial
    animation-timing-function: initial
    azimuth: initial
    backface-visibility: initial
    background: initial
    background-attachment: initial
    background-clip: initial
    background-color: initial
    background-image: initial
    background-origin: initial
    background-position: initial
    background-repeat: initial
    background-size: initial
    baseline-shift: initial
    binding: initial
    bleed: initial
    bookmark-label: initial
    bookmark-level: initial
    bookmark-state: initial
    bookmark-target: initial
    border: initial
    border-bottom: initial
    border-bottom-color: initial
    border-bottom-left-radius: initial
    border-bottom-right-radius: initial
    border-bottom-style: initial
    border-bottom-width: initial
    border-collapse: initial
    border-color: initial
    border-image: initial
    border-image-outset: initial
    border-image-repeat: initial
    border-image-slice: initial
    border-image-source: initial
    border-image-width: initial
    border-left: initial
    border-left-color: initial
    border-left-style: initial
    border-left-width: initial
    border-radius: initial
    border-right: initial
    border-right-color: initial
    border-right-style: initial
    border-right-width: initial
    border-spacing: initial
    border-style: initial
    border-top: initial
    border-top-color: initial
    border-top-left-radius: initial
    border-top-right-radius: initial
    border-top-style: initial
    border-top-width: initial
    border-width: initial
    bottom: initial
    box-decoration-break: initial
    box-shadow: initial
    box-sizing: initial
    break-after: initial
    break-before: initial
    break-inside: initial
    caption-side: initial
    chains: initial
    clear: initial
    clip: initial
    clip-path: initial
    clip-rule: initial
    color: initial
    color-interpolation-filters: initial
    color-profile: initial
    column-count: initial
    column-fill: initial
    column-gap: initial
    column-rule: initial
    column-rule-color: initial
    column-rule-style: initial
    column-rule-width: initial
    column-span: initial
    column-width: initial
    columns: initial
    contain: initial
    content: initial
    counter-increment: initial
    counter-reset: initial
    crop: initial
    cue: initial
    cue-after: initial
    cue-before: initial
    cursor: initial
    direction: initial
    display: initial
    dominant-baseline: initial
    drop-initial-after-adjust: initial
    drop-initial-after-align: initial
    drop-initial-before-adjust: initial
    drop-initial-before-align: initial
    drop-initial-size: initial
    drop-initial-value: initial
    elevation: initial
    empty-cells: initial
    filter: initial
    flex: initial
    flex-basis: initial
    flex-direction: initial
    flex-flow: initial
    flex-grow: initial
    flex-shrink: initial
    flex-wrap: initial
    float: initial
    float-offset: initial
    flood-color: initial
    flood-opacity: initial
    flow-from: initial
    flow-into: initial
    font: initial
    font-family: initial
    font-feature-settings: initial
    font-kerning: initial
    font-language-override: initial
    font-size: initial
    font-size-adjust: initial
    font-stretch: initial
    font-style: initial
    font-synthesis: initial
    font-variant: initial
    font-variant-alternates: initial
    font-variant-caps: initial
    font-variant-east-asian: initial
    font-variant-ligatures: initial
    font-variant-numeric: initial
    font-variant-position: initial
    font-weight: initial
    grid: initial
    grid-area: initial
    grid-auto-columns: initial
    grid-auto-flow: initial
    grid-auto-position: initial
    grid-auto-rows: initial
    grid-column: initial
    grid-column-end: initial
    grid-column-start: initial
    grid-row: initial
    grid-row-end: initial
    grid-row-start: initial
    grid-template: initial
    grid-template-areas: initial
    grid-template-columns: initial
    grid-template-rows: initial
    hanging-punctuation: initial
    height: initial
    hyphens: initial
    icon: initial
    image-orientation: initial
    image-resolution: initial
    ime-mode: initial
    inline-box-align: initial
    justify-content: initial
    justify-items: initial
    justify-self: initial
    left: initial
    letter-spacing: initial
    lighting-color: initial
    line-break: initial
    line-height: initial
    line-stacking: initial
    line-stacking-ruby: initial
    line-stacking-shift: initial
    line-stacking-strategy: initial
    list-style: initial
    list-style-image: initial
    list-style-position: initial
    list-style-type: initial
    margin: initial
    margin-bottom: initial
    margin-left: initial
    margin-right: initial
    margin-top: initial
    marker-offset: initial
    marks: initial
    mask: initial
    mask-box: initial
    mask-box-outset: initial
    mask-box-repeat: initial
    mask-box-slice: initial
    mask-box-source: initial
    mask-box-width: initial
    mask-clip: initial
    mask-image: initial
    mask-origin: initial
    mask-position: initial
    mask-repeat: initial
    mask-size: initial
    mask-source-type: initial
    mask-type: initial
    max-height: initial
    max-lines: initial
    max-width: initial
    min-height: initial
    min-width: initial
    move-to: initial
    nav-down: initial
    nav-index: initial
    nav-left: initial
    nav-right: initial
    nav-up: initial
    object-fit: initial
    object-position: initial
    opacity: initial
    order: initial
    orphans: initial
    outline: initial
    outline-color: initial
    outline-offset: initial
    outline-style: initial
    outline-width: initial
    overflow: initial
    overflow-wrap: initial
    overflow-x: initial
    overflow-y: initial
    padding: initial
    padding-bottom: initial
    padding-left: initial
    padding-right: initial
    padding-top: initial
    page: initial
    page-break-after: initial
    page-break-before: initial
    page-break-inside: initial
    page-policy: initial
    pause: initial
    pause-after: initial
    pause-before: initial
    perspective: initial
    perspective-origin: initial
    pitch: initial
    pitch-range: initial
    play-during: initial
    position: initial
    presentation-level: initial
    quotes: initial
    region-fragment: initial
    rendering-intent: initial
    resize: initial
    rest: initial
    rest-after: initial
    rest-before: initial
    richness: initial
    right: initial
    rotation: initial
    rotation-point: initial
    ruby-align: initial
    ruby-position: initial
    shape-image-threshold: initial
    shape-outside: initial
    shape-margin: initial
    size: initial
    speak: initial
    speak-as: initial
    speak-header: initial
    speak-numeral: initial
    speak-punctuation: initial
    speech-rate: initial
    stress: initial
    string-set: initial
    tab-size: initial
    table-layout: initial
    target: initial
    target-name: initial
    target-new: initial
    target-position: initial
    text-align: initial
    text-align-last: initial
    text-combine-horizontal: initial
    text-decoration: initial
    text-decoration-color: initial
    text-decoration-line: initial
    text-decoration-skip: initial
    text-decoration-style: initial
    text-emphasis: initial
    text-emphasis-color: initial
    text-emphasis-position: initial
    text-emphasis-style: initial
    text-height: initial
    text-indent: initial
    text-justify: initial
    text-orientation: initial
    text-overflow: initial
    text-shadow: initial
    text-space-collapse: initial
    text-transform: initial
    text-underline-position: initial
    text-wrap: initial
    top: initial
    transform: initial
    transform-origin: initial
    transform-style: initial
    transition: initial
    transition-delay: initial
    transition-duration: initial
    transition-property: initial
    transition-timing-function: initial
    unicode-bidi: initial
    vertical-align: initial
    visibility: initial
    voice-balance: initial
    voice-duration: initial
    voice-family: initial
    voice-pitch: initial
    voice-range: initial
    voice-rate: initial
    voice-stress: initial
    voice-volume: initial
    volume: initial
    white-space: initial
    widows: initial
    width: initial
    word-break: initial
    word-spacing: initial
    word-wrap: initial
    wrap-flow: initial
    wrap-through: initial
    writing-mode: initial
    z-index: initial
