@import "../../"

body
    position relative
    width 100%
    height auto
    background-color inherit
    top 0px
    left initial
    header
        position initial
        width 320px
        height initial
        color red
        text-align right
        h2
            text-align initial
            color initial
