body {
  align-content: auto;
  align-items: auto;
  align-self: auto;
  alignment-adjust: auto;
  alignment-baseline: baseline;
  all: initial;
  anchor-point: none;
  animation: none 0s ease 0s 1 normal none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  azimuth: center;
  backface-visibility: visible;
  background: none 0% 0% auto auto repeat padding-box border-box transparent;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  baseline-shift: baseline;
  binding: none;
  bleed: 6pt;
  bookmark-label: content();
  bookmark-level: none;
  bookmark-state: open;
  bookmark-target: none;
  border: medium none currentColor;
  border-bottom: medium none currentColor;
  border-bottom-color: currentColor;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-color: currentColor;
  border-image: none;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left: medium none currentColor;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: medium none currentColor;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-style: none;
  border-top: medium none currentColor;
  border-top-color: currentColor;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  border-width: medium;
  bottom: auto;
  box-decoration-break: slice;
  box-shadow: none;
  box-sizing: content-box;
  break-after: auto;
  break-before: auto;
  break-inside: auto;
  caption-side: top;
  chains: none;
  clear: none;
  clip: auto;
  clip-path: none;
  clip-rule: nonzero;
  color: initial;
  color-interpolation-filters: auto;
  color-profile: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: medium;
  column-rule-width: medium;
  column-span: none;
  column-width: auto;
  columns: auto auto;
  contain: none;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  crop: auto;
  cue: none none;
  cue-after: none;
  cue-before: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  dominant-baseline: auto;
  drop-initial-after-adjust: text-after-edge;
  drop-initial-after-align: baseline;
  drop-initial-before-adjust: text-before-edge;
  drop-initial-before-align: caps-height;
  drop-initial-size: auto;
  drop-initial-value: initial;
  elevation: level;
  empty-cells: show;
  filter: none;
  flex: 0 1 auto;
  flex-basis: auto;
  flex-direction: row;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  float: none;
  float-offset: 0 0;
  flood-color: currentColor;
  flood-opacity: 1;
  flow-from: none;
  flow-into: none;
  font: normal normal normal normal medium normal initial;
  font-family: initial;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: medium;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  grid: none;
  grid-area: none;
  grid-auto-columns: auto;
  grid-auto-flow: none;
  grid-auto-position: 1 / 1;
  grid-auto-rows: auto;
  grid-column: none;
  grid-column-end: auto;
  grid-column-start: auto;
  grid-row: none;
  grid-row-end: auto;
  grid-row-start: auto;
  grid-template: none;
  grid-template-areas: none;
  grid-template-columns: none;
  grid-template-rows: none;
  hanging-punctuation: none;
  height: auto;
  hyphens: manual;
  icon: auto;
  image-orientation: auto;
  image-resolution: normal;
  ime-mode: auto;
  inline-box-align: last;
  justify-content: auto;
  justify-items: auto;
  justify-self: auto;
  left: auto;
  letter-spacing: normal;
  lighting-color: white;
  line-break: auto;
  line-height: normal;
  line-stacking: inline-line-height exclude-ruby consider-shifts;
  line-stacking-ruby: exclude-ruby;
  line-stacking-shift: consider-shifts;
  line-stacking-strategy: inline-line-height;
  list-style: disc outside none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0 0 0 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  marker-offset: auto;
  marks: none;
  mask: border-box;
  mask-box: none 0 fill / auto / 0 stretch;
  mask-box-outset: 0;
  mask-box-repeat: stretch;
  mask-box-slice: 0 fill;
  mask-box-source: none;
  mask-box-width: auto;
  mask-clip: border-box;
  mask-image: none;
  mask-origin: border-box;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: border-box;
  mask-source-type: auto;
  mask-type: luminance;
  max-height: none;
  max-lines: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  move-to: normal;
  nav-down: auto;
  nav-index: auto;
  nav-left: auto;
  nav-right: auto;
  nav-up: auto;
  object-fit: fill;
  object-position: 50% 50%;
  opacity: 1;
  order: 0;
  orphans: 2;
  outline: invert none medium;
  outline-color: invert;
  outline-offset: 0;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-wrap: normal;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0 0 0 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page: auto;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  page-policy: start;
  pause: none none;
  pause-after: none;
  pause-before: none;
  perspective: none;
  perspective-origin: 50% 50%;
  pitch: medium;
  pitch-range: 50;
  play-during: auto;
  position: static;
  presentation-level: 0;
  quotes: text;
  region-fragment: auto;
  rendering-intent: auto;
  resize: none;
  rest: none none;
  rest-after: none;
  rest-before: none;
  richness: 50;
  right: auto;
  rotation: 0;
  rotation-point: 50% 50%;
  ruby-align: auto;
  ruby-position: before;
  shape-image-threshold: 0.0;
  shape-outside: none;
  shape-margin: 0;
  size: auto;
  speak: auto;
  speak-as: normal;
  speak-header: once;
  speak-numeral: continuous;
  speak-punctuation: none;
  speech-rate: medium;
  stress: 50;
  string-set: none;
  tab-size: 8;
  table-layout: auto;
  target: current window above;
  target-name: current;
  target-new: window;
  target-position: above;
  text-align: start;
  text-align-last: auto;
  text-combine-horizontal: none;
  text-decoration: none;
  text-decoration-color: currentColor;
  text-decoration-line: none;
  text-decoration-skip: objects;
  text-decoration-style: solid;
  text-emphasis: none currentColor;
  text-emphasis-color: currentColor;
  text-emphasis-position: over right;
  text-emphasis-style: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-orientation: mixed;
  text-overflow: clip;
  text-shadow: none;
  text-space-collapse: collapse;
  text-transform: none;
  text-underline-position: auto;
  text-wrap: normal;
  top: auto;
  transform: none;
  transform-origin: 50% 50% 0;
  transform-style: flat;
  transition: 0s 0s all ease;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  voice-balance: center;
  voice-duration: auto;
  voice-family: initial;
  voice-pitch: medium;
  voice-range: medium;
  voice-rate: normal;
  voice-stress: normal;
  voice-volume: medium;
  volume: medium;
  white-space: normal;
  widows: 2;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  wrap-flow: auto;
  wrap-through: wrap;
  writing-mode: horizontal-tb;
  z-index: auto;
}
