body {
  position: relative;
  width: 100%;
  height: auto;
  background-color: inherit;
  top: 0px;
  left: auto;
}
body header {
  position: static;
  width: 320px;
  height: auto;
  color: red;
  text-align: right;
}
body header h2 {
  text-align: left;
  color: black;
}

