body {
  position: relative;
  width: 100%;
  height: auto;
  background-color: inherit;
  top: 0px;
  left: auto;
}
body header {
  position: static;
  width: 320px;
  height: auto;
  color: #f00;
  text-align: right;
}
body header h2 {
  height: 50px;
  text-align: start;
  color: black;
}

